#div-imagen-fondo {
  background-image: url(/imagenes/descarga.jpg);
}

h1 {
  text-align: center;
}

#uno {
  color: green;
}

#dos {
  color: yellowgreen;
}

#tres {
  background-color: black;
  color: white;
}

img {
  align-items: center;
}
